
/* making scrollbar invisible */

.container{

}

.scrollbar{
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 0px; 
  height: 0px; 
}
body {
  overflow-x: hidden; 
}
body {
  padding: 0px;
  margin: 0px;
  scrollbar-width: none; 
  box-sizing: border-box;
}
html {
  overflow-y: overlay; 
}

.font-poppins{
  font-family: 'Poppins',sans-serif;
}

/* navbar css */

.container-black{
  background-color: #181818;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
.navbar{
  display: flex;
  position: fixed;
  z-index: 100;
  
}
.navbar-items{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 102px;
  /* padding: 5px 0px; */
}
.qss-logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-right: 120px; */
}
.qss-logo img {
  display: flex;
  flex-direction: column;
  float: left;
  width: 140px;
  height: 60px;
}

.menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
}


ul.menu-items {
  margin: 0px;
  box-sizing: none;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-inline-start: 0px;
  padding-left: 0px;
}


.menu-items li{
  font-family: 'Poppins',sans-serif;
  font-size: 18px;
  line-height: 27px;
  /* text-align: left; */
  font-weight: 400;
  font-weight: 400;
  font-size: 18px;
  padding: 20px 15px;
}


.menu-items li a{
  text-decoration: none;
  color: #fff;

}

.btn-nav{
  width: 197.312px;
  height: 69px;
  display: inline-block;
}

.btn-nav-animation{
  font-size: 15px;
  line-height: 21px;
  padding-left: 60px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 20px;
  letter-spacing: 0.5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #ff3635;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff !important;
  position: relative;
  border: solid 1px #ff3635;
  border-radius: 2px;
  margin-right: 0px;

}
.btn-nav-animation a{
  text-decoration: none;
}
.button-animation span { 
  color: white;
  text-decoration: none;
}
.btn-nav-animation::before{
  -webkit-animation: circle 2s infinite;
  animation: circle 2s infinite;
  transition: 0.5s;
  content: "";
  width: 20px;
  height: 20px;
  border: 3px solid white;
  position: absolute;
  left: 20px;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
}


@keyframes circle{
  0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 254, 254, 0.8);
      box-shadow: 0 0 0 0 rgba(255, 254, 254, 0.8);
  }
 
  70% {
      -webkit-box-shadow: 0 0 0 20px rgba(254, 253, 253, 0);
      box-shadow: 0 0 0 20px rgba(254, 253, 253, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 20px rgba(252, 250, 250, 0);
      box-shadow: 0 0 0 20px rgba(252, 250, 250, 0);
  }





}
.video-banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.video_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
  position: relative;
}

.overlay-content {
  margin-bottom: 80px !important;
  width: 100%;
  max-width: 1660px;
  margin: 0 auto;
  padding: 0 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 45px 20px;
}

.banner-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 15px;
}

.text-content {
  font-family: "Lato", sans-serif;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: row;
  font-size: 36px !important;
  line-height: 48px !important;
  font-weight: 700 !important;
  /* justify-content: center; */
}

.text-animation{
  font-family: "Lato", sans-serif;
  width: 100%;
  color: red;
  display: flex;
  flex-direction: row;
  font-size: 36px !important;
  line-height: 48px !important;
  margin-bottom: 20px !important;
  font-weight: 700 !important;
}

.buttons-section{
  display: flex;
  padding: 25px 15px;
  flex-direction: column;
}


.button-container a{
  font-family: 'Poppins',sans-serif;
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  line-height: 21px;
  border-radius: 4px;
  background: #ec3636;
  border: 1px solid #ec3636;
  transition: all 0.3s ease-in-out
}

.button-container a:hover{
  background: white;
  color: #ec3636;
  border: 1px solid white;
}

.button-container a.button-container-white{
  background: #ffffff;
    color: #ec3636;
    border-color: #fff;
    margin-left: 20px;
    font-weight: 300 !important;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
}

/* Primary Button Style */

/* Rating Style */


/* second section of the web page */

.cards-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px 15px;
  background-color: #181818;
  justify-content: space-between;
  margin-top: -6px;
}

.cards {
  display: flex;
  height: 190px;
  width: 313px;
  perspective: 1000px; 
  /*  */


}
.card{
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  background-color: #232323;
}
.cards:hover .card {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  /* border: 1px solid black; */
  position: absolute;
  width: 100%;
  height: 100%;
  
}

.card-front {

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  color: white;
  background-color: #232323;
  transform: rotateY(0deg);
  z-index: 1;
}

.card-back {
  backface-visibility: hidden !important; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  color: white;
  background-color: #ec3636;
  transform: rotateY(180deg); 
  z-index: 2; 
}

.card-heading {
  font-family: "Lato", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 7px;
}

.card-description {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-top: -12px;
}

.card-text {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.card-back{
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}


.experience-section {
  background-color: #ffffff;
  margin: auto auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 40px;
  margin-bottom: 60px;
  justify-content: center;
}
.Background-image-over img {
  width: 100%;
  height: 100%;
}
.text-over-image {
  display: flex;
  justify-content: center;
  padding: 55px 45px; 
  margin-left: 123px;
  position: absolute;
  top: 272px;
  background-color: white;
  height: 477px;
  width: 1080px;
  box-shadow: 0px 10px 5px #cdcdcd;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  flex-direction: row;
  gap: 40px;
}
.redbox{
  display:flex;
    flex: 0 0 360px;
    width: 360px;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    justify-content: center;
    border: 16px solid #ec3636;
    height: 235px;
    position: relative;
    gap: 10px;
}

.redbox-heading{
  font-family: 'Poppins',sans-serif;
  font-size: 50px;
    color: #ec3636;
    font-weight: 500;
    line-height: 30px;
}
.redbox-text{
  font-family: "Poppins",sans-serif;
  font-size: 24px;
  color: rgb(64,43,48);
  line-height: 24px;
  font-weight: 700;
}
.redbox:before{
  content: "";
  background: #fff;
  width: 230px;
  height: 16px;
  top: -16px;
  /* margin: -32px; */
  position: absolute;
  z-index: 1;
}

.redbox:after{
  content: "";
  background: #fff;
  width: 230px;
  height: 16px;
  bottom: -16px;
  /* margin-top: 48px; */
  position: absolute;
  z-index: 1;
}



.experience-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  /* justify-content: center; */
  /* justify-content: center; */
}

.experience-title{
  font-size: 36px;
  font-family: 'Lato',sans-serif;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 8px;
}
.experience-subtitle{
  font-size: 20px;
  font-weight: 700;
  font-family: 'Lato',sans-serif;
  line-height: 36px;
  margin-bottom: 8px;
}
.experience-text{
  color: rgb(39,19,19);
  font-family: 'Poppins',sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
.partner-button{
  text-align: center;
  height: 42px;
  width: 204.543px;
  border: 1px solid rgb(236, 54, 54);
  border-radius: 4px;
  padding: 10px 20px;
  /* background-color: red; */
  
}
.partner-button :hover{
  background-color: red;
  color: white;
}
.partner-button a{
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
  color: rgb(236, 54, 54);
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

/* ends here */

/* section 4 css */
.section-4-container-1 {
  padding: 60px 23px;
  margin-top: 250px;
  background-color: rgba(4, 1, 39, 255);
  color: white;
  text-align: center;
}

.section-4-container-2 {
  margin: 45px 0px;
  /* margin-top: 45px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-right: 20px;
}
.section-4-container-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 30px; */
  text-align: left;
}

.section-4-container-3 h2 {
  margin-bottom: 15px;
}

.section-4-container-3 p {
  margin-bottom: 15px;
}
.section-4-image img {
  margin: 0px 0px 0px 0px;
  height: 345px;
  width: 670px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.button4 {
  padding: 10px 40px;
  color: white;
  border-color: white;
  border-radius: 30%;
  background-color: black;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
}

/* section four ends here */
.section-5-container-1 {
  padding: 60px 0px;
  /* margin-top: 250px;    */
  background-color: white;
  color: black;
  text-align: center;
}

.sec-5-cnt-2 {
  margin: 0px 113px;
  padding: 0px 15px;
}
.section-5-image img {
  border-radius: 15%;
  margin: 0px 10px 45px 0px;
  height: 560px;
  width: 650px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.section-5-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 60px;
  padding: 0px 60px;
}

.button5 {
  
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  color: rgb(236, 54, 54);
  border-color: rgb(236, 54, 54);
  border-radius: 2px;
  background-color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  font-family: "Lato", sans-serif;
}

.button5 :hover {
  background-color: rgb(236, 54, 54);
  color: white;
}

/* section six starts here */
.contact-container{
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 250px;
  /* position: absolute; */
}

.contact-img img {
  display: block;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  /*  */
}
.form {
  margin-top: -400px;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 50px;
  height: 666px;
  background-color: white;
  position: relative;
  top: 154px;
  margin-inline:132px 133px;
  box-shadow: 0px 10px 5px #aaaaaa;
}
.form-content {
  padding-left: 4px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-inline: 100px 100px; */
  gap: 10px;
  /* padding-top: 25px; */
}

.form-content h5{
  font-size: 36px;
  font-family: 'Lato',sans-serif;
  font-weight: 700;
  color: #181818;
  margin-bottom: 15px;
  line-height: 1.1;
  text-align: center;
}
.form-content h5 span {
  color: red;
  /* font-weight: bolder; */
}
.form-content p{
  font-size: 18px;
  font-family: 'Lato',sans-serif;
  font-weight: 400;
  color: #271313;
  margin-bottom: 35px;
  text-align: center;
}

.form-section {
  position: absolute;
  /* height: 40vh; */
  /* margin-top: 30px; */
  /* padding-inline: 100px 100px; */
}
.form-section ul{
  padding-inline-start: 0px;
  list-style: none;
}
.form-section ul li label{
  margin-bottom: 5px;

}
.form-section ul li input{
  height: 44px;
  padding: 10px 50px 10px 15px;
  font-size: 14px;
  font-weight: 400;
  color: #150823;
  background: #fff;
  border: 1px solid #d2d6db;
  width: 480px;
  
}
.form-section ul li {
  display: inline-block;
  /* padding-left:15px ; */
  padding-right: 15px;
  margin-bottom: 24px;
} 
.form-section ul li span{
  /* display: block; */
  position: relative;
}
.form-section ul li span svg{
  position: absolute;
  right: 15px;
  top: 4px;
  z-index: 1;
  margin-bottom: 15px;
}
.submit-button{
  width: 100%;
  padding: 0 15px 0;
}

.submit-button input {
  background: #ec3636 !important;
  padding: 8px 30px !important;
  border: 1px solid #ec3636 !important;
  color: #fff !important;
  border-radius: 4px in !important;
}


.contact-form-info-content {
  width: 1020px;
  height: 394px;
  padding-inline: 15px;
}

.contact-form-info-content form {
  width: 990px;
  height: 393px;
}

.contact-form-info-content ul {
  width: 1020px;
  height: 196px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-inline: -15px;
}

.contact-form-info-content ul li {
  width: 510px;
  height: 72px;
  padding: 0 15px 0;
  list-style: none;
  margin-bottom: 24px;
  position: relative;
}

.contact-form-info-content ul li label {
  font-size: 14px;
  font-weight: 400;
  color: #150823;
  cursor: text;
  margin-bottom: 5px;
}

.contact-form-info-content ul li span {
  color: #ec3636;
}

.contact-form-info-content ul li span input {
  height: 44px;
  padding: 10px 50px 10px 15px;
  font-size: 14px;
  font-weight: 400;
  color: #150823;
  background: #fff;
  border: 1px solid #d2d6db;
  border-radius: 6px;
  width: 100%;
  position: relative;
}

.contact-form-info-content ul li span svg {
  position: absolute;
  right: 32px;
  top: 35px;
  z-index: 1;
}

::placeholder {
  color: #000;
}

.message-container {
  width: 1020px;
  height: 135px;
  list-style: none;
  margin-bottom: 24px;
}

.message-container label {
  font-size: 14px;
  font-weight: 400;
  color: #150823;
  cursor: text;
  margin-bottom: 5px;
}

.message-container label span {
  color: #ec3636;
}

.message-container span input {
  width: 990px;
  height: 100px;
  padding: 10px 50px 10px 15px;
  font-size: 14px;
  font-weight: 400;
  color: #150823;
  background: #fff;
  border: 1px solid #d2d6db;
  border-radius: 6px;
  position: relative;
}

.contact-form-foot {
  width: 1020px;
  height: 42px;

}

.contact-form-foot a {
  text-decoration: none;
  background: #ec3636;
  padding: 8px 30px;
  border: 1px solid #ec3636;
  color: #fff;
  border-radius: 4px;
}

.contact-last {
  width: 1020px;
  height: 62px;
  padding-inline: 15px;

}

.contact-last p {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #271313;
  margin-bottom: 35px;
  text-align: center;
}

/* .form-submit{
  width: 125.516px !important;
  height: 24px !important;
} */

.awards-section{
padding: 45px 20px;
  background-color: black;
}

.awards-section p {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: #e7e7e7 !important;
  margin-bottom: 60px;
}


.awards-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.awards-cards-container p {
  font-size: 20px;
  font-weight: 700;
  color: #e7e7e7;
  line-height: 24px;
  margin-bottom: 10px;
  font-family: "Lato", sans-serif;
  text-align: center;
  line-height: 26px;
}


.award-cards {
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  background-color: #232323;
  width: 400px;
  height: 300px;
  padding: 0px 20px;
  padding-top: 50px;
  color: white;
  /* margin: 0px 20px; */
  justify-content: center;
 
}
.award-card-image {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 150px;
  margin: auto;
  margin-bottom: 20px;
}
.award-card-image img {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* section eight starts here */
.client-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px 0px;
  margin: auto;
  height: 600px;
}

.client-heading h2{
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 20px;
  font-weight: 700px;
  color: #181818;
  font-family: "Lato", sans-serif;
  /* margin: auto; */
  text-align: center;
}
.client-description{
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  max-width: 1080px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  color: rgb(63, 43, 48);
}

.brands-list {
  width: 1244px;
  height: 454px;
  margin-inline: 45px;
  padding-inline: 15px;
}

.brands-items {
  width: 1214px;
  height: 454px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.brandbox {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: calc(100% / 5);
  padding: 15px;
}

.brandbox-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 10px;
}

.brandbox-image img {
  position: relative;
  max-width: 100%;
  max-height: 70px;
}


.logos-section{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0px 55.7px;
  padding:0px 15px ;
  justify-content: center;
}
.logo-outer{
  display: flex;
  justify-content: center;
  width:calc(100% / 5);
}
.box-logo{
  width: 207.636px;
  height: 123.988px;
  padding: 25px 10px;
}
.box-logo img{
  width: calc(100% - 20px);
  height: calc(100% + 4px);
}
/* section nine starts here */

.section-9-container-1 {
  position: relative;
  background: url('iwan-postel-bg.jpg') no-repeat center center; 
  background-size: cover; 
  height: 100vh; 
  display: flex;
  align-items: center; 
  justify-content: center; 
  color: white;
  text-align: center;
  flex-direction: column;
  padding: 20px;
}

.sec-9-cnt{
  font-size: 36px;
  font-family: "Lato",sans-serif;
  font-weight: 700;
} 

.sec-9-cnt-1-p{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sec-9-cnt-1{  display: flex;
  flex-direction: column;
  text-align: left;
  color: black;
  width: 840px;
  height: 280px;
  background-color: rgb(255
  , 255, 255,0.57);
  margin-top: 25px;

}
.sec-9-content{
  margin: auto 0px;
}
.sec-9-heading {
  font-family: 'Poppins',sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-left: 25px;
  margin-bottom: 15px;
}
.sec-9-par{
  margin-left: 25px;
  margin-bottom: 15px;
  font-family: 'Poppins',sans-serif;
  font-weight: 400;
  font-size: 16px;
} 
.sec-9-footer{
  margin-left: 25px;
  margin-bottom: 15px;
  font-family: 'Poppins',sans-serif;
  font-weight: 400;
  font-size: 16px;

}
  

/* section ten starts here */

.section-10-container-1 {
  /* padding: 100px 0px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  color: #e7e7e7;
  font-family: "Poppins", sans-serif;
}
.sec-10-cnt-1-bkimg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background: linear-gradient(
      104.13deg,
      rgb(83 6 43 / 64%) 25.02%,
      rgb(66 19 56 / 48%) 98.17%
    ),
    url("engagement-models-cta-banner (1).jpg");

  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  height: 100vh;
}

.sec-10-cnt-1-h {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 36px;
  text-align: center;
  font-weight: 400;
  color: #e7e7e7;
  margin-bottom: 20px;
}

.sec-10-cnt-1-p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 18px;
  margin: 0 280px 30px;
  text-align: center;
  color: #e7e7e7;
  font-family: "Poppins", sans-serif;
}
.sec-10-cnt-1-btn {
  text-align: center;
}
.sec-10-cnt-1-btn a {
  font-family: "Poppins",sans-serif;
  font-size: 18px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #e7e7e7;
  font-weight: 500;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-color: #e7e7e7;
  border-radius: 8px;
  padding: 10px 20px;
}

.sec-10-cnt-1-btn a:hover {
  background-color: #e7e7e7;
  color: black;
}





/* footer section starts here */

.footer-image{
  background-image: url('footer.jpg');
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 1050px;
  padding: 100px 15px;
}
.container{
  width: 100%;
  max-width: 1660px;
  /* margin: 0 auto; */
  padding: 0 20px;
  margin: 0px -15px;
}

.footer-content{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 -15px;
}

.first-line{
  display: flex;
  font-family: 'Lato',sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: black;
  margin-bottom: 10px;
}
.title{
  font-size: 36px;
  font-family: 'Lato',sans-serif;
  font-weight: 700;
  color: black;
  margin-bottom: 15px;
}
.title strong{
  font-weight: 700;
  color: #ec3636;
}
.simple-text{
  margin-bottom: 15px;
  font-family: 'Lato',sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: black;
}
.country-icons{
  display: flex; flex-direction: row;
  gap: 50px;
  margin-bottom: 20px;
}
.usa{
  font-family: 'Lato',sans-serif;
  font-size: 20px;
  font-weight: 700px;
  font-weight: black;
  margin-bottom: 10px;
}
.adress{
  display: flex;
  flex-direction: column;
}
.adress ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-inline-start: 0;
}
.adress ul li {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-weight: 400px;
  line-height: 27px;
  font-family: 'Poppins',sans-serif;
  gap:16px;
  margin-bottom: 15px;
}

.footer-black{
  background-color: #181818;
  padding :50px 0px;
}

.flex{
  display: flex;
  flex-direction: column;
}
.footer-row{
  display:flex;
  flex-direction: row;
}
.logo-description{
  padding: 0px 15px;
}
.logo-desc{
  display: flex;
  flex-direction: column;
  font-family: 'Poppins',sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #e7e7e7;
  line-height: 30px;
  margin-bottom: 10px;
  width: 304px;
}

.social-media-icons{
  display: flex;
  flex-direction: row;
}

.industries-section{
  
  padding-right: 15px;
}

.industries-section-title{
  font-size: 20px;
  margin-bottom: 15px;
  color: white;
  font-family: 'Lato',sans-serif;
  padding: 0px 15px;
  font-weight: 700;
}


.industries-section-list{
  list-style: none;
  color: white;
  padding-inline-start: 15px !important;
  font-size: 13px;
  font-family: 'Inter',sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.industries-section-list li{
  padding: 5px 0 ;
}
.industries-section-list li a:before{
  
  background: #fff;
  transform: scaleX(0) translateZ(0);
  -webkit-transform-origin:100% 100%;
  transform-origin: 100% 100%;
  -webkit-transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: scaleX(0) translateZ(0);
}

.footer-end{
  padding: 10px 20px ;
  background-color: black;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  
}

.footer-end-content p{
  margin-bottom: 0px !important;
}

.footer-end-content{
  color: #E7E7E7;
  width: calc(100% / 3);
  font-size: 12px;
  display: flex;
  flex-direction: column;
  font-family: 'Inter',sans-serif;
  justify-content: center;

}






