
/* making scrollbar invisible */
.scrollbar{
    overflow: hidden;
  }
  ::-webkit-scrollbar {
    width: 0px; 
    height: 0px; 
  }
  body {
    overflow-x: hidden; 
  }
  body {
    padding: 0px;
    margin: 0px;
    scrollbar-width: none; 
    box-sizing: border-box;
  }
  html {
    overflow-y: overlay; 
  }
  
  .font-poppins{
    font-family: 'Poppins',sans-serif;
  }
  
  /* navbar css */
  .container{
    display: block;
    /* flex-direction: column; */
}
.container-black{
      padding-left: 20px;
      padding-right: 20px;
      width: 100%;
    background-color: black;
  }
  .navbar{
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 100;
  }
  .qss-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* flex-direction: column; */
  }
  
  .qss-logo img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    height: 60px;
  }